.posts {
  margin-top: 5rem;

  > a {
    display: block;
  }

  a + a {
    margin-top: 3rem;
  }

  button {
    border:none;
    background: transparent;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--highlight);
    margin-top: 4rem;
  }

}

.post {

  strong {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--heading)
  }

  p {
    margin-top: .5rem;
    font-size: 1.1rem;
  }

  ul {
    list-style: none;
    margin-top: 1.5rem;
    display: flex;

    svg {
      margin-right: .4rem;

    }

    li {
      font-size: .93rem;
      margin-right: 1.62rem;
    }
  }
}
