.banner {
  width:100%;
  height: 25rem;
  object-fit: cover;
}

.post {
  h2{
    font-size:2.25rem;
    color:var(--heading);
    margin: 3rem 0;
  }

  p, span, a, ul{
    font-size:1.125rem;
    line-height: 1.8;
    margin: 1.8rem 0;
  }

  a {
    color:var(--highlight)
  }

  strong{
    font-weight: 700;
    color:var(--body)
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }
}

.postTop{
  margin-bottom: 4rem;
  > h1 {
    font-size:3rem;
    color:var(--heading);
    margin-bottom:1.5rem;
  }

  > ul {
    padding:0;
    margin:0;
    list-style: none;
    display: flex;

    svg {
      margin-top: .75rem;
      margin-right: 0.5rem;
      font-size: 1rem;
    }

    li {
      margin-right: 1.8rem;
      font-size: 0.875rem;
    }
  }
}

.navigation {
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-top: 1px solid var(--border);

  h3{
    font-size:1.125rem;
    font-weight: 400;
    color:var(--heading);
    margin-bottom:0.5rem;
  }

  a {
    color:var(--highlight);
    font-weight:600;
  }

  div {
    padding-top: 3rem;
  }

  div + div{
    text-align: right;

  }
}
